.heading{
    
    padding-left: 5%;
    padding-right: 5%;

    margin: 50px 0px 0px 100px;
    width: 50%;
    font-size: 20px;
    
}
.top-img{
    width: 80%;
    padding-left: 50px;
}
.btn, p{
    font-family: 'Poppins', sans-serif; 
    padding: 10px 0px;
    text-align: justify;
    
}
.flex-cont{
    display: flex;
    margin: 0;
    width: 90%;
}
.top-font{
    font-family: 'Abril Fatface', cursive;
    border-left: 7px solid;
    border-color: crimson;
    padding-left: 30px;
    font-size: 40px;
    border-radius: 5px;
    
}
.pad{
    padding-top: 5%;
}
.top-color{
    color:rgb(243, 208, 53);
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
    background-color: crimson;
    color: white;
    font-weight: 700px;
    border-radius: 7px;
}
.second{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    padding-left: 15%;
    font-size: 50px;
    font-weight: 800;
}
.second-tab{
    font-family: 'Cairo', sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.vmg{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 50px;
    border-radius: 30px;
}
.v{
    background-color: rgb(160, 202, 198);
}
.m{
    background-color: rgb(212, 133, 243);
}
.g{
background-color: rgb(235, 125, 149);
}
.tab-img{
    width: 40%;
    padding-top: 40px;
}
.tab-two{
    margin: 0px 250px 0px 140px;
    width: 80% ;
}
.tab-three{
    margin-top: 100px;
    margin-left: 100px;
}
.third{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    
}
.third h1{
    font-size: 50px;
    font-weight: 800;
}