body{
    margin: 0;
    width: 100%;
}
.heading{
    
    padding-left: 5%;
    margin: 50px 0px 0px 100px;
    width: 50%;
    font-size: 20px;
    
}
.top-img{
    width: 100%;
    padding-left: 10px;
}
.skill-img{
    padding-top: 50%;
    width: 100%;
    
}
.btn, p{
    font-family: 'Poppins', sans-serif; 
    padding: 10px 0px;
    text-align: justify;
    
    
}
.flex-cont{
    display: flex;
    margin: 0;
    width: 100%;
}
.top-font{
    font-family: 'Abril Fatface', cursive;
    border-left: 7px solid;
    border-color: crimson;
    padding-left: 30px;
    font-size: 35px;
    border-radius: 5px;
    
}
.pad{
    padding-top: 5%;
    width: 80%;
}
.top-color{
    color:rgb(243, 208, 53);
}

.btn{
    text-decoration: none;
    padding: 15px 40px;
    background-color: crimson;
    color: white;
    font-weight: 700px;
    border-radius: 7px;
}
.second{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    padding-left: 15%;
    font-size: 30px;
    font-weight: 700;
}
.second-tab{
    font-family: 'Cairo', sans-serif;
    font-size: 40px;
    font-weight: 500;
}
.vmg{
    margin-left: 50px;
    margin-right: 20px;
    padding: 15px 50px;
    border-radius: 30px;
    padding-bottom: 2%;
}
.v{
    background-color: rgb(160, 202, 198);
}
.m{
    background-color: rgb(212, 133, 243);
}
.g{
background-color: rgb(235, 125, 149);
}
.tab-img{
    width: 40%;
    padding-top: 40px;
}
.tab-two{
    margin-left: 100px;
    width: 90%;
    
}
.tab-three{
    margin-left: 129px;
    margin-right: 90px;
    padding: 10px;
    width: 86%;
}
.tab-four{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 62px;
    padding: 10px;
    width: 90%
}
.third{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 50px;
    width: 130%;
    
}

.third h1{
    font-size: 50px;
    
}
.bg2{
    background-image: url(images/shapes/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.bg1{
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20%;
    margin-top: 50px;
}
.footer{
    text-align: center;
    background-color: rgb(31, 1, 56);
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}
.footer p {
    text-align: center;
}

.fot-22{
    font-family: 'Dynalight', cursive;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 1, 56)
}
.head{
    position: absolute;
    padding: 10px;
    float: left ;
    margin-left: 5%;
    margin-top: 1px;
    padding-bottom: 10px;
    font-family: 'Cairo', sans-serif;
    font-size: 50px;
    color: white;

}
.head-ul{
    width: auto;
    float: right;
    margin-top: 10px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
.head-ul a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 1.5em;
}
.skill-h{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
}
.p-bar{
    position: relative;
    width: 500px;
    height: 70px;
    background: violet;
    border-radius: 9px;
    overflow: hidden;
   
}
.p-fill{
    width: 50%;
    height: 100%;
    background: rgb(225, 0, 255) ;
}
.p-text{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    right: 5px;
    font-family: 'Cairo', sans-serif;
    color: white;
}
.skill{
    font-family: 'Cairo', sans-serif;
    color: rgb(231, 54, 92);
}
.skill-s{
    padding: -5%;
    width: 80%;
}
.skill-sec{
    background-image: url(images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-size: 30%;
    margin-top: -8%;
    background-position: left;

}